rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /projects/{projectId}/songs/{songId}/clips/{clipId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
