@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --color-accent: #00E5FF;
  --color-accent-purple: #A742FF;
  --color-playhead: #F27D26;
  --color-accent-hover: #33EBFF;
  --color-border-main: #2D333B;
  --color-border-inner: #3D444D;
  --color-bg-deep: #0D1117;
  --color-bg-sidebar: #161B22;
  --color-bg-surface: #1C2128;
  --color-bg-input: #2D333B;
  --color-text-muted: #768390;
  --color-text-dark: #484F58;
}

body {
  background-color: var(--color-bg-deep);
  color: #adbac7;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-deep);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border-main);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-border-inner);
}

.fader-input {
  cursor: ns-resize;
}

.fader-input::-webkit-slider-runnable-track {
  background: #1a1a1c;
  height: 4px;
  border-radius: 2px;
}

.fader-input::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 12px;
  background: #f27d26;
  border: 2px solid black;
  border-radius: 2px;
  margin-top: -4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
